@use "../abstracts/mixins" as m;

body > .error {
  display: inline-block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  max-width: 71rem;
  padding: 1rem;
  margin-bottom: 1.3rem;
  border-radius: 1rem;
  pointer-events: none;
  z-index: 10;
  animation: slide-in-body 0.2s ease 0s forwards;
  @include m.media-query(mobile) {
    width: 75%;
    margin-left: 2.5rem;
    animation: slide-in-body-mobile 0.2s ease 0s forwards;
  }
  &.hide {
    animation: slide-out-body 0.2s ease 0s forwards;
    @include m.media-query(mobile) {
      animation: slide-out-body-mobile 0.2s ease 0s forwards;
    }
  }
}

#login form > .error {
  position: absolute;
  padding: 1rem;
  margin-bottom: 1.3rem;
  border-radius: 1rem;
  pointer-events: none;
  z-index: 10;
  animation: slide-in-login 0.2s ease 0s forwards;
  @include m.media-query(mobile) {
    animation: slide-in-login-mobile 0.2s ease 0s forwards;
  }
  &.hide {
    animation: slide-out-login 0.2s ease 0s forwards;
    @include m.media-query(mobile) {
      animation: slide-out-login-mobile 0.2s ease 0s forwards;
    }
  }
}

@keyframes slide-in-body {
  from {
    opacity: 0;
    top: 0rem;
  }

  to {
    opacity: 1;
    top: 5rem;
  }
}

@keyframes slide-out-body {
  from {
    opacity: 1;
    top: 5rem;
  }

  to {
    opacity: 0;
    top: 0rem;
  }
}

@keyframes slide-in-login {
  from {
    opacity: 0;
    top: -5rem;
  }

  to {
    opacity: 1;
    top: -3rem;
  }
}

@keyframes slide-out-login {
  from {
    opacity: 1;
    top: -3rem;
  }

  to {
    opacity: 0;
    top: -5rem;
  }
}

@keyframes slide-in-body-mobile {
  from {
    opacity: 0;
    top: 0rem;
  }

  to {
    opacity: 1;
    top: 3rem;
  }
}

@keyframes slide-out-body-mobile {
  from {
    opacity: 1;
    top: 3rem;
  }

  to {
    opacity: 0;
    top: 0rem;
  }
}

@keyframes slide-in-login-mobile {
  from {
    opacity: 0;
    top: -10rem;
  }

  to {
    opacity: 1;
    top: -4.5rem;
  }
}

@keyframes slide-out-login-mobile {
  from {
    opacity: 1;
    top: -4.5rem;
  }

  to {
    opacity: 0;
    top: -10rem;
  }
}
