@use "sass:color";
@use "../abstracts/variables" as v;

body {
  color: v.$text-color;
  background-color: v.$bg-color;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  color: v.$text-color;
  text-decoration: none;
}

.active {
  background-color: v.$active-link-color;
}

.error {
  background-color: rgba(255, 51, 51, 0.9);
  color: v.$bg-color;
}

/* Nav stylings */

nav {
  background-color: v.$text-color;
  box-shadow: 0.5rem 0 1.2rem 0.2rem rgba(0, 0, 0, 0.3);
  .toggle-button,
  a {
    &:hover {
      background-color: rgba($color: v.$bg-color, $alpha: 0.2);
    }
  }
  a:not(.active) {
    opacity: 0.7;
  }
  a:focus,
  .toggle-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba($color: v.$bg-color, $alpha: 0.7);
  }
  // Remove focus styles for non-keyboard focus to prevent styles from applying on mouse click.
  a:focus:not(:focus-visible),
  .toggle-button:focus:not(:focus-visible),
  button[type="submit"]:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
  p {
    color: v.$bg-color;
  }
}

/* Form styling */

input {
  border: 0.1rem solid v.$input-border-color;

  &.delete {
    background-color: v.$delete-bg-color;
  }
}
input:focus,
button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba($color: v.$text-color, $alpha: 0.7);
}
// Remove focus styles for non-keyboard focus to prevent styles from applying on mouse click.
button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/* Login page styling */

#login {
  background-color: v.$section-bg-color;
  box-shadow: 0 0.7rem 2.9rem
    rgba($color: v.$section-drop-shadow-color, $alpha: 0.2);
  button[type="submit"] {
    background-color: v.$login-button-bg-color;
    color: v.$bg-color;
    &:hover {
      background-color: rgba($color: v.$login-button-bg-color, $alpha: 0.9);
    }
  }
}

/* Reservations page styling */

#reservations {
  article {
    background-color: v.$article-bg-color;
    &:hover {
      box-shadow: 0 0.7rem 1rem 0
        rgba($color: v.$article-drop-shadow-color, $alpha: 0.2);
    }
  }
  h3 {
    color: rgba($color: v.$text-color, $alpha: 0.9);
  }
  .top-card-info .col-1 p {
    color: v.$reservations-text-color;
  }
  .top-card-info .col-1 span {
    color: v.$reservations-text-color;
  }
  .top-card-info .col-2 p {
    color: v.$reservations-button-color;
  }
  a {
    color: v.$article-bg-color;
    background-color: v.$reservations-button-color;
  }
  button.cancel {
    color: v.$delete-text-color;
    background-color: v.$delete-bg-color;
  }
}

/* Edit menu page styling */

#edit-menu {
  form {
    background-color: v.$article-bg-color;
    &:hover {
      box-shadow: 0 0.7rem 1rem 0
        rgba($color: v.$article-drop-shadow-color, $alpha: 0.2);
    }
    button {
      &.delete {
        background-color: v.$delete-bg-color;
        &:hover {
          background-color: color.adjust(v.$delete-bg-color, $lightness: -5%);
        }
      }
      &.add-course,
      &.add-drink {
        background-color: v.$add-bg-color;
        &:hover {
          background-color: color.adjust(v.$add-bg-color, $lightness: -5%);
        }
      }
      &.update {
        color: v.$update-text-color;
        background-color: v.$update-bg-color;
        &:hover {
          background-color: color.adjust(v.$update-bg-color, $lightness: -5%);
        }
      }
    }
  }
}
